/* Write some CSS below */
body {
	font-family : 'Karla', sans-serif ;
	font-size: 18px;
	color: rgb(50,50,50);
	background-color: rgb(244,231,222);
	text-decoration: none;
}
a{
	text-decoration: none;
}
h1, h2, h3 {
	font-family: 'Karla', sans-serif ;
}
.banner{ 
	text-align: center;
	background-image: url(images/hublot.jpg);
	background-position: center;
	background-size: cover;
	padding: 100px 0px;
	color: white;
}
.banner h1{
	font-size: 45px;
}
.banner p {
	font-size: 30px;
}
.btn-yellow{
	color: rgb(50,50,50);
	background-color: rgb(184,82,43);
	padding: 15px 45px;
	margin-top: 30px;
	border-radius: 4px;
	font-weight: bold;
}
.btn-yellow:hover {
	opacity: 0.8;
}

.card-white  img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}


.card-white{
	background-color: rgb(244,231,222);
	width: 220px;
	height: 300px;
	padding: 24px;
	text-align: center;
	margin-bottom: 15x;
	border-radius: 4px ;
	box-shadow: 0px 0px 16px rgb(150,150,150);
	text-decoration: none;
}
.card-white:hover{
	transform: scale(1.10);
}

.container{
	width: 900px;
	margin: auto;
	margin-bottom: 40px;
}
.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 16px;

}
.cards a {
	text-decoration: none;
	color: rgb(50, 50, 50);

}
.footer{
	text-align: center;
	font-weight: bold;
	background-color: rgb(184,82,43);
	padding: 5px;
	display: grid;
	grid-template-columns: 7fr 1fr;
}
.réseaux-sociaux img{
	width: 30px;
	height: 30px;
	align-content: right;
	vertical-align: middle;
	margin-top: 15px;	
}
.réseaux-sociaux:hover{
	transform: scale(1.25);
}